packages:
  yum:
    mod24_ssl : []

files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        <Proxy *>
          Order deny,allow
          Allow from all
        </Proxy>

        SSLEngine             on
        SSLCertificateFile    "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        SSLCipherSuite        EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
        SSLProtocol           All -SSLv2 -SSLv3
        SSLHonorCipherOrder   On
        SSLSessionTickets     Off
        
        Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
        Header always set X-Frame-Options DENY
        Header always set X-Content-Type-Options nosniff
        
        ProxyPass / http://localhost:80/ retry=0
        ProxyPassReverse / http://localhost:80/
        ProxyPreserveHost on
        RequestHeader set X-Forwarded-Proto "https" early
        
      </VirtualHost>
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDljCCAn4CCQC6MfGg9P7LojANBgkqhkiG9w0BAQsFADCBjDELMAkGA1UEBhMC
      dXMxCzAJBgNVBAgMAnBhMRUwEwYDVQQHDAxwaGlsYWRlbHBoaWExEDAOBgNVBAoM
      B2hleGlsb24xCzAJBgNVBAsMAml0MRcwFQYDVQQDDA5mYWFkIGdob3JhaXNoaTEh
      MB8GCSqGSIb3DQEJARYSZmFhZEBnaG9yYWlzaGkuY29tMB4XDTE4MDIwMzIwMTky
      OVoXDTE5MDIwMzIwMTkyOVowgYwxCzAJBgNVBAYTAnVzMQswCQYDVQQIDAJwYTEV
      MBMGA1UEBwwMcGhpbGFkZWxwaGlhMRAwDgYDVQQKDAdoZXhpbG9uMQswCQYDVQQL
      DAJpdDEXMBUGA1UEAwwOZmFhZCBnaG9yYWlzaGkxITAfBgkqhkiG9w0BCQEWEmZh
      YWRAZ2hvcmFpc2hpLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEB
      ANrUCJ0hYjRVHLXNhqOy1M/yIB9IUMfxAN5d/AObPNNhgwGYeyX0kOGBeGhoyu6g
      +rLVHsL25cn19AksTw/hNdoHNChtxzNjPbfC0fAXACND9HIbRt35OR5rV7R301vt
      G91tNVCEaRqk2deXhG1x/9LpYBGSAO5rH+tUWJr4ZJ1ZPVq4HUAN1D1mmRohTJdx
      dBzG5ARoo66NrdUNfWte2W+gOxzZcdO/Sn8K8A9djbhr/oJEICyNmN8CvevHxv44
      Ct+pGAnspUJ1KBZITer7YT4MY+hbhLHI49nlEjh9lTz0Kr6Vh5otao3vqthqX0s1
      1H/u/6VCClR3XTcJKnqNSK0CAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAc0HCjtSo
      WPMSILXfTDwmJEgf87ss21LVABOIYpeLRqsPyTUXwDzVCY7vVUou75Ihi/UVp1HG
      jPTSZsx/k2xqmq6GtkbqLegWD/UiZSF/hQnlD7LE+q4wb8ESC7hi/rrEdE4B4srp
      ATLlfPyECGy8a2VKmdA0tZlFbzU0k+g0B3aMNPmWyjrgP3CzsqzPXT9SZQWyVKoB
      DG3LG5tnSdy1PQ8iiezHM5stNvBScfx0styq1KJMNYLCZVuO4dyVNVzB69rVWE3L
      bdSLrlSe4K395RnIIMZtbbVW2PXlgnkFarPWjOZJUPXFBEZ2lbx4InGpVgxjKuOb
      V9c6QKgEonhQPg==
      -----END CERTIFICATE-----
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDa1AidIWI0VRy1
      zYajstTP8iAfSFDH8QDeXfwDmzzTYYMBmHsl9JDhgXhoaMruoPqy1R7C9uXJ9fQJ
      LE8P4TXaBzQobcczYz23wtHwFwAjQ/RyG0bd+Tkea1e0d9Nb7RvdbTVQhGkapNnX
      l4Rtcf/S6WARkgDuax/rVFia+GSdWT1auB1ADdQ9ZpkaIUyXcXQcxuQEaKOuja3V
      DX1rXtlvoDsc2XHTv0p/CvAPXY24a/6CRCAsjZjfAr3rx8b+OArfqRgJ7KVCdSgW
      SE3q+2E+DGPoW4SxyOPZ5RI4fZU89Cq+lYeaLWqN76rYal9LNdR/7v+lQgpUd103
      CSp6jUitAgMBAAECggEAJyIUCEWYElPGNpzynwO0Gxvpsq50A82NojacguiYEBU4
      IGjsXPVHk4xbxBA5ekM/kgua3LLalStu4NUTrntP7hWrti8rmHz+5IXqlU0HsUbN
      yDooijmvhUkc/iEPozjb6tVE24lSYnlom610+T2Ryl4B2CKMGBcANk13Kv+QvrKK
      GI6U00zrQiQzODF0V/emtBRWKOEX0ACNrBp+lzcl+i0rQio4dG4IZCql1mch9hrE
      Bfb3odGVq3q75nCRb4PVj8Ktv0yKiqeAXObxDDe7VV5+e0Fhkm81+ERraHyw3oM9
      pvLmxnKrE77wgINEJw3hthwjs/d/0IsI149vz+tg4QKBgQD1bkMPJBhbBgSGRFAm
      IUKwG35LBjewT6rWrDWXvxphGOkT5XZDH/Z1XLaR0oJxUg0uerWetg2F7FKjsGXh
      ht8O9lbnXEWP13V+RiPWem9ce3SBxdtIBIRCXsAWWlKzKvv8g0syTfT/w2sXKk0q
      JglZEhHxUgjP1nNn6W9n1JyERwKBgQDkQH6MaHVq6Gke+KnokjqtYa0GywHt7f5T
      eb8GUA1P8aUJLMh6C+N2jK6qwK3YIqQjt0ipHNR8jrm6GNw4SwWx6on86TC944cG
      KA3LbClMSzQFOFjQbUtv3XkhVKRM8Y1SLlji/FSxP2CpXEBna7nVVcu3eZjn1l+r
      J6zSNuiJawKBgDJlNq3YOowOO0Wap158++WPb6pWF39DjI/SApsrKW6An/Nu7Y6w
      9Hl61R4yPIiqUXyWw85YEYTLVti3suPRPuIioQuWvc3gbwbDvj4fG9jAnNa82t75
      1nKOZCDy4QJbNCzQhNNKgKE37jhufjPGZar9c+O6dYa/wSi4HSET3iOnAoGACD2D
      1BHZW1i0otebWrgcwjGqi3o8wZg7/EuC5/lv4Zj5ulERk8ZmGduOWr/GBu2JO3jc
      eK5/xVdpwRwwpx+ePwQWozjP96sFLuW3ScbH3udAI4gbPLsVZB58xwVFQTnfPj5K
      Gze83wFIvhSEhrdO6DLGvgL30DbfEVDHXnd5Aa0CgYBa+VHhKT31LvTKAb8syzpd
      zJkEQHpxy10Jhn+8tCExzb9atNAA+hag9SEEegz9nQdwjlJxCRGvTjNotjKp0Z7n
      poBdS8S7brG1kcpj91pZY0DBlcFWBMeg4Riv+ynC3EE7b/fmVJC1DDdlrsNBmV7/
      nyLN0e52GMvXxyT98HM9iQ==
      -----END CERTIFICATE-----
